/*
    overskriv default styling
    (normalize css, reset css)
*/
* {
    margin: 0px;
}

/*
    Layout struct
*/

body{
    height: 100vh; /* vh = view height */
    display: flex;
    flex-direction: column;
}

#navbar{
    background-color: rgb(86, 86, 86);
}

#main{
    flex-grow: 1;
}

#footer{
    background-color: rgb(86, 86, 86);
}